/* body => h1, img, p, ul => .special(클래스) => a : 일반 => 구체 순서*/

h1{
    color: red;
}
p{
    color : green;
}
.special{
    color: orange;
}
li em{
    color: purple;
    font-size: 20px;
    font-weight: bold;
}
li strong{
    color: pink;
    font-size: 20px;
    font-style: italic;
}

#btn{
    width: 100px;
    height: 50px;
    background-color: #7e7e7e;
    color: white;
    border-radius: 10px;    
}
#btn:hover{
    background-color: #2215154d;
    color: white;
}

.box{
    width: 300px;
    padding:5%;
    border: 1px solid #7e7e7e;
    border-radius: 10px;
}
.box:hover{
    background-color: #2215154d;
    color: white;
}